<div class="container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Comments</div>
      <div class="col col-2">Vote Count</div>
      <div class="col col-3">Up Vote</div>
      <div class="col col-4">News Details</div>
    </li>
    <ng-container *ngFor="let item of newsFeedData?.hits">
      <li class="table-row">
        <div data-label="Comments" class="col col-1 font-weight-bold">
          <span class="margin-left-15">{{item.num_comments}}</span></div>
        <div data-label="Vote Count" class="col col-2 font-weight-bold {{item.points|dynamicClass}}">
          <span class="margin-left-20">{{item.points}}</span></div>
        <div data-label="UpVote" class="col col-3">
          <a>
            <img id="upvoteImg" class="margin-left-15" src="../assets/icons/grayarrow.gif" alt="UpVote" (click)="upVoteNews(item)">
          </a>
        </div>
        <div data-label="News details" class="col col-4">
          <span class="font-weight-bold">{{item.title}}</span>
          <a href="{{item.url}}" target="_blank" class="color-gray font-small">({{item.url | domainName}}) by </a>
          <span class="font-weight-bold"> {{item.author}} </span>
          <span class="color-gray font-small">{{item.created_at | getHours}}</span>
          <span>[</span><a id="hideNews" class="font-weight-bold" (click)="hideNewsRow(item)">hide</a><span>]</span>
        </div>
      </li>
    </ng-container>
  </ul>
  <footer class="footer">
    <a class="font-weight-bold" (click)="previousPage()">Previous</a>
    <span class="font-weight-bold">|</span>
    <a class="font-weight-bold" (click)="nextPage()">Next</a>
  </footer>
  <div class="overflow-scroll">
    <google-chart [type]="chartType" [data]="chartData" columnNames="columnNames" [options]="options" [width]="width"
      [height]="height">
    </google-chart>
  </div>
</div>